:root {
  /*  Base */
  --main-font: "Myriad Pro";
  --second-font: "MyriadPro LightSemiExt";
  --content-width: 1545px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --main-bg: #f4f2f2;

  /* Colors */
  --white-color: #fff;
  --munsell-white-color: #f3f1f1;
  --ghost-white: #f8f8f8;
  --black-color: #000;
  --green-color: #00aa4b;
  --mint-color: #40bf79;
  --saffron-color: #ffaf2d;
  --princenton-orange-color: #ff8c00;
  --platinum-gray-color: #777;
  --platinum-white-color: #e8e7e7;
  --granite-color: #343434;
  --gray-umber-color: #303030;
  --black-brown-color: #232323;
  --blackish-color: #121212;
  --blue-black-color: #191919;

  /* Transition */
  --transition-time: 0.3s; // Для всего

  /* z-index */
  --ui-index-1: 1; /* Для наползающих элементов в общем потоке */
  --ui-index-2: 2; /* Для наползающих элементов в общем потоке */
  --ui-index-3: 3; /* Для оверлеев */
  --ui-index-4: 4; /* Для сайдбаров */
  --ui-index-5: 5; /* Для модалок */
  --ui-index-6: 6; /* Для элементов прекрывающих всё */
}
