:root {
  /*  Base */
  --font-family: "Myriad Pro", sans-serif;
  --content-width: 1545px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* Color */
  --color-blue: #a1c4fd;
  --color-grey: #868686;
  --color-dark: #010624;
  --color-silver: #c4c4c4;
  --color-white: #fff;
  --color-dark-grey: #5c5c6d;
  --color-red: #ff0013;
  --color-tg: #28a8e9;

  /* Background color */
  --background-white: #fff;
  --background-dark: #010624;
  --background-alice-blue: #f2f6fa;
  --background-munsell: #ecf2f8;
  --background-blue: #a1c4fd;
  --background-isabelline: #edecef;

  /* Border color */
  --border-white: 1px solid #fff;
  --border-grey: 1px solid #edecef;
  --border-blue: 1px solid #a1c4fd;

  /* Shadow Box */
  --shadow-card: 0 10px 16px rgba(0 0 0 / 5%);

  /* Border radius */
  --radius-reset: 0;
  --radius-card: 8px;
  --radius-tag: 50px;
  --radius-btn: 4px;

  /* Transition */
  --transition-time: 0.3s; // Для всего

  /* z-index */
  --ui-index-1: 1; /* Для наползающих элементов в общем потоке */
  --ui-index-2: 2; /* Для наползающих элементов в общем потоке */
  --ui-index-3: 3; /* Для оверлеев */
  --ui-index-4: 4; /* Для сайдбаров */
  --ui-index-5: 5; /* Для модалок */
  --ui-index-6: 6; /* Для элементов прекрывающих всё */
}
