:root {
  /*  Base */
  --font-family: "Myriad Pro", sans-serif;
  --content-width: 1545px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* Colors */
  --white-color: #fff;
  --black-color: #000;
  --green-color: #00aa4b;
  --mint-color: #40bf79;
  --saffron-color: #ffaf2d;
  --princenton-orange-color: #ff8c00;
  --platinum-gray-color: #777;
  --platinum-white-color: #e8e7e7;
  --granite-color: #343434;

  /* Transition */
  --transition-time: 0.3s; // Для всего

  /* z-index */
  --ui-index-1: 1; /* Для наползающих элементов в общем потоке */
  --ui-index-2: 2; /* Для наползающих элементов в общем потоке */
  --ui-index-3: 3; /* Для оверлеев */
  --ui-index-4: 4; /* Для сайдбаров */
  --ui-index-5: 5; /* Для модалок */
  --ui-index-6: 6; /* Для элементов прекрывающих всё */
}
