.brands {
  --brands-bg: var(--white-color);
  --brands-links: var(--black-brown-color);
  --brands-border: 2px solid var(--ghost-white);
  --brands-focus-outline: 3px solid var(--green-color);
  --brands-focus-outline-offset: 28px;

  padding-top: 20px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    height: 102px;
    background-color: var(--brands-bg);

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16.6%;
      height: 100%;

      a {
        font-size: 18px;
        color: var(--brands-links);

        &:focus {
          outline: var(--brands-focus-outline);
          outline-offset: var(--brands-focus-outline-offset);
        }
      }

      &:not(:last-child) {
        border-right: var(--brands-border);
      }
    }
  }
}
