.footer {
  /* footer top */
  --footer-top-bg: var(--black-brown-color);
  --footer-list-title: var(--platinum-gray-color);
  --footer-link-color: var(--white-color);

  /* footer bottom */
  --footer-bottom-bg: var(--blue-black-color);
  --footer-copyright: var(--white-color);

  margin-top: 172px;
  background-color: var(--footer-top-bg);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    padding: 93px 0;
  }

  &__list {
    &-title {
      margin-bottom: 37px;
      color: var(--footer-list-title);
    }

    &-block {
      margin-bottom: 25px;
      font-size: 16px;
      color: var(--footer-link-color);

      a {
        display: block;
        font-size: 16px;
        color: var(--footer-link-color);

        &:focus {
          outline: 2px solid #00aa4b;
        }
      }

      address {
        &:focus {
          outline: 2px solid #00aa4b;
        }
      }
    }

    ul {
      li {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--footer-link-color);

        a {
          color: inherit;

          &:focus {
            outline: 2px solid #00aa4b;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 42px;
    padding-bottom: 30px;
    background-color: var(--footer-bottom-bg);

    .footer__container {
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;

    a {
      @include fullsize-link;

      transition: transform var(--transition-time);

      &:focus {
        outline: 2px solid #00aa4b;
      }
    }

    img {
      margin-right: 18px;
    }

    &-text {
      font-size: 10px;
      color: #787878;
    }
  }

  &__copyright {
    font-size: 18px;
    color: var(--footer-copyright);

    &:focus {
      outline: 2px solid #00aa4b;
    }
  }
}
