.footer {
  margin-top: 172px;
  background-color: #232323;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    padding: 93px 0;
  }

  &__list {
    &-title {
      margin-bottom: 37px;
      color: #777;
    }

    &-block {
      margin-bottom: 25px;
      font-size: 16px;
      color: #fff;
    }

    &-block {
      a {
        display: block;
        font-size: 16px;
        color: #fff;

        &:focus {
          outline: 2px solid #00aa4b;
        }
      }

      address {
        &:focus {
          outline: 2px solid #00aa4b;
        }
      }
    }

    ul {
      li {
        margin-bottom: 10px;
        font-size: 16px;
        color: #fff;

        a {
          color: inherit;

          &:focus {
            outline: 2px solid #00aa4b;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 42px;
    padding-bottom: 30px;
    background-color: #191919;

    .footer__container {
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;

    a {
      @include fullsize-link;

      transition: transform 0.3s;

      &:focus {
        outline: 2px solid #00aa4b;
      }
    }

    img {
      margin-right: 18px;
    }

    &-text {
      font-size: 10px;
      color: #787878;
    }
  }

  &__copyright {
    font-size: 18px;
    color: #fff;

    &:focus {
      outline: 2px solid #00aa4b;
    }
  }
}
