.news {
  --news-text: var(--blackish-color);
  --news-tab: var(--green-tab);
  --news-date: var(--platinum-gray-color);

  padding-top: 163px;

  &__container {
    max-width: 1414px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  &__left {
    max-width: 491px;

    &-image {
      display: block;
      margin-bottom: 29px;
      width: 100%;

      &:focus {
        outline: 2px solid #00aa4b;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px;
    }

    &-title {
      display: block;
      margin-bottom: 28px;

      a {
        display: inline-block;
        color: inherit;

        &:focus {
          outline: 2px solid #00aa4b;
        }
      }
    }

    &-descr {
      font-size: 16px;
      color: var(--news-text);
    }
  }

  &__right {
    width: 823px;

    &-item {
      display: flex;
      justify-content: space-evenly;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &-link {
      &:focus {
        outline: 2px solid #00aa4b;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    img {
      width: 190px;
    }

    &-title {
      display: block;
      margin-bottom: 19px;

      a {
        display: inline-block;
        color: inherit;

        &:focus {
          outline: 2px solid #00aa4b;
        }
      }
    }

    &-descr {
      font-size: 16px;
      color: var(--news-text);
    }

    &-content {
      width: 566px;
    }
  }

  .tag {
    font-size: 16px;
    color: var(--news-tab);
  }

  .data {
    font-size: 16px;
    color: var(--news-date);
  }
}
