.news {
  padding-top: 163px;

  &__container {
    max-width: 1414px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  &__left {
    width: 491px;

    &-image {
      display: block;
      margin-bottom: 29px;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px;
    }

    &-title {
      display: block;
      margin-bottom: 28px;
    }

    &-descr {
      font-size: 16px;
      color: #121212;
    }
  }

  &__right {
    width: 823px;

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    img {
      margin-right: 20px;
      width: 190px;
    }

    &-title {
      display: block;
      margin-bottom: 19px;
    }

    &-descr {
      font-size: 16px;
      color: #121212;
    }

    &-content {
      width: 566px;
    }
  }

  &__button {
    display: inline-block;
    border: 2px solid #121212;
    border-radius: 17px;
    padding: 0 40px;
    height: 35px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #121212;
  }

  .tag {
    font-size: 16px;
    color: #00aa4b;
  }

  .data {
    font-size: 16px;
    color: #777;
  }
}
