.promo {
  /* promo menu */
  --promo-menu-background: var(--white-color);
  --promo-menu-title-color: var(--saffron-color);
  --promo-menu-link-color: var(--gray-umber-color);
  --promo-menu-link-hover-bg: var(--saffron-color);
  --promo-menu-link-hover-color: var(--white-color);

  /* promo slider */
  --promo-slider-bg: var(--black-brown-color);
  --promo-slider-h2: var(--platinum-gray-color);
  --promo-slider-h3: var(--munsell-white-color);
  --promo-slider-text: var(--munsell-white-color);

  /* promo sale */
  --promo-sale-border: 2px solid var(--saffron-color);
  --promo-sale-bg: var(--white-color);
  --promo-sale-text: var(--blackish-color);
  --promo-sale-link: var(--saffron-color);
  --promo-sale-link-focus: 1px solid var(--saffron-color);

  padding-top: 21px;
  width: 100%;

  &__container {
    display: flex;
    width: 100%;
    height: 476px;
  }

  &__menu {
    padding-top: 28px;
    width: 19.6%;
    height: 100%;
    background-color: var(--promo-menu-background);

    &-title {
      margin-bottom: 12px;
      padding-left: 25px;
      font-size: 24px;
      color: var(--promo-menu-title-color);
    }

    li {
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }

    &-link {
      position: relative;
      display: block;
      padding-top: 13.5px;
      padding-bottom: 12px;
      padding-left: 25px;
      height: 100%;
      font-family: var(--second-font);
      font-size: 16px;
      color: var(--promo-menu-link-color);
      transition: color var(--transition-time), background-color var(--transition-time);

      &::after {
        content: ">";
        position: absolute;
        right: 21px;
        top: 50%;
        font-size: 14px;
        color: #30303066;
        transform: translateY(-50%);
      }

      &:focus,
      &:active,
      &:hover {
        outline: 1px solid var(--promo-menu-link-hover-color);
        color: var(--promo-menu-link-hover-color);
        background-color: var(--promo-menu-link-hover-bg);

        &::after {
          color: var(--promo-menu-link-hover-color);
        }
      }
    }
  }

  &__slider {
    width: 58.6%;
    height: 100%;

    &-item {
      padding: 56px 68px;
      width: 100%;
      background-color: var(--promo-slider-bg);

      &-inner {
        display: flex;

        div:first-child {
          margin-right: 70px;
        }

        div:last-child {
          margin-top: 14px;
        }
      }

      h2 {
        margin-bottom: 63px;
        font-family: var(--second-font);
        font-size: 15px;
        color: var(--promo-slider-h2);
      }

      h3 {
        margin-bottom: 17px;
        max-width: 426px;
        font-family: var(--main-font);
        font-weight: 400;
        line-height: 43px;
        color: var(--promo-slider-h3);
      }

      p {
        margin-bottom: 66px;
        font-family: var(--second-font);
        font-size: 18px;
        color: var(--promo-slider-text);
      }
    }
  }

  &__sale {
    display: flex;
    align-items: flex-end;
    border: var(--promo-sale-border);
    border-radius: 2px;
    width: 19.5%;
    height: 100%;
    background-color: var(--promo-sale-bg);

    &-content {
      padding: 54px 28px 50px;
    }

    img {
      margin-bottom: 10px;
    }

    &-text {
      font-family: var(--second-font);
      font-size: 18px;
      color: var(--promo-sale-text);
    }

    &-title {
      margin-bottom: 17px;
      font-family: var(--main-font);
    }

    &-link {
      font-family: var(--second-font);
      font-size: 18px;
      color: var(--promo-sale-link);

      &:focus {
        outline: var(--promo-sale-link-focus);
      }
    }
  }
}
