.recomended {
  --recomended-descr: #787878;
  --recomended-item-dark-bg: var(--black-brown-color);
  --recomended-item-light-bg: var(--white-color);
  --recomended-item-text: var(--platinum-gray-color);

  padding-top: 172px;

  &__title {
    margin-bottom: 30px;
  }

  &__descr {
    margin: 0 auto 70px;
    width: 635px;
    font-size: 16px;
    text-align: center;
    color: var(--recomended-descr);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1392px;
    height: 745px;
  }

  &__left {
    position: relative;
    overflow: hidden;
    padding: 69px 90px 0 69px;
    width: 596px;
    height: 100%;
    background-color: var(--recomended-item-light-bg);
    transition: transform var(--transition-time);

    &-company {
      margin-bottom: 20px;
      font-weight: 100;
      text-transform: uppercase;
    }

    &-name {
      margin-bottom: 33px;
    }

    &-descr {
      margin: 0 auto 55px;
      width: 290px;
      font-size: 16px;
      text-align: center;
      color: var(--recomended-item-text);
    }

    &-img {
      @include fullsize-link;

      transition: transform var(--transition-time);

      &:focus {
        transform: scale(1.05);
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__right {
    width: 784px;
  }

  &__first,
  &__second {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    height: 420px;
    background-color: var(--recomended-item-dark-bg);
    transition: transform var(--transition-time);

    &-img {
      margin-left: -183px;
      transition: transform var(--transition-time);

      img {
        max-width: none;
      }

      @include fullsize-link;

      &:focus {
        transform: scale(1.05);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 50px;
      height: 100%;
    }

    &-company {
      margin-bottom: 20px;
      font-weight: 100;
      text-transform: uppercase;
    }

    &-name {
      margin-bottom: 33px;
    }

    &-descr {
      margin: 0 auto;
      font-size: 16px;
      color: var(--recomended-item-text);
    }

    &:focus {
      outline: 2px solid #ffaf2d;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__second {
    height: 316px;
    background-color: var(--recomended-item-light-bg);

    &-img {
      margin-top: 80px;
      margin-right: -96px;

      img {
        max-width: none;
      }
    }

    &-content {
      padding-right: 180px;
      padding-left: 50px;
    }
  }
}
