.seo {
  padding-top: 170px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1392px;
  }

  &__content {
    width: 845px;
  }

  &__first {
    margin-bottom: 45px;

    h2 {
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: #121212;
    }
  }

  &__second {
    margin-bottom: 45px;

    h2 {
      margin-bottom: 30px;
      font-weight: 100;
    }

    p {
      font-size: 18px;
      color: #121212;
    }
  }

  &__company {
    margin-bottom: 32px;

    img {
      margin-bottom: 10px;
    }

    &-descr {
      margin-bottom: 30px;
      font-size: 16px;
      color: #777;
    }

    &-group {
      color: #171717;
    }

    &-advantages {
      span {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        color: #777;
      }

      ul {
        li {
          font-size: 18px;
          color: #121212;
        }
      }
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #232323;
  }
}
