.seo {
  --seo-dark-text: var(--blackish-color);
  --seo-company-descr: var(--platinum-gray-color);
  --seo-advantages: var(--platinum-gray-color);
  --seo-btn-bg: var(--black-brown-color);
  --seo-btn-plus: var(--white-color);
  --seo-btn-bg-hover: transparent;
  --seo-btn-plus-hover: var(--black-brown-color);
  --seo-btn-border-hover: 1px solid var(--black-brown-color);

  padding-top: 170px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1392px;
  }

  &__content {
    width: 845px;
  }

  &__first {
    margin-bottom: 45px;

    h2 {
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: var(--seo-dark-text);
    }
  }

  &__second {
    margin-bottom: 45px;

    h2 {
      margin-bottom: 30px;
      font-weight: 100;
    }

    p {
      font-size: 18px;
      color: var(--seo-dark-text);
    }
  }

  &__company {
    margin-bottom: 32px;

    img {
      margin-bottom: 10px;
    }

    &-descr {
      margin-bottom: 30px;
      font-size: 16px;
      color: var(--seo-company-descr);
    }

    &-group {
      color: #171717;
    }

    &-advantages {
      span {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        color: var(--seo-advantages);
      }

      ul {
        li {
          font-size: 18px;
          color: var(--seo-dark-text);
        }
      }
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: var(--seo-btn-plus);
    background-color: var(--seo-btn-bg);
    transition: border var(--transition-time), color var(--transition-time), background-color var(--transition-time);

    &:focus,
    &:hover,
    &:active {
      border: var(--seo-btn-border-hover);
      color: var(--seo-btn-plus-hover);
      background-color: var(--seo-btn-bg-hover);
    }
  }
}
