.title {
  --title-color: var(--blackish-color);
  --title-light-color: var(--white-color);

  font-size: 38px;
  color: var(--title-color);

  &-fz20 {
    font-size: 20px;
  }

  &-fz23 {
    font-size: 23px;
  }

  &-fz30 {
    font-size: 30px;
  }

  &-fz40 {
    font-size: 40px;
  }

  &--white {
    color: var(--title-light-color);
  }

  &--center {
    text-align: center;
  }
}
