/* stylelint-disable */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.eot");
    src: local("./fonts"),
      local("Myriad Pro"),
      url("./fonts/#{$url}.eot?#iefix") format("embedded-opentype"),
      url("./fonts/#{$url}.woff2") format("woff2"),
      url("./fonts/#{$url}.woff") format("woff"),
      url("./fonts/#{$url}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}
