/*
  Можно было использовать  min() max() clamp(),
  но если нам нужно поддерживать IE, то нужно другое решение.

  У calc частичная поддержка в IE, числовые значения которые будут использоваться поддерживаются с 9 версии IE.

  Поясняю решение

  .block {
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 / 320)));
  }

  20px - это минимальное значение на разрешении 320px.
  (50 - 20) - это максимальное значение(на полноразмерном макете) - минимальное значение
  ((100vw - 320px) / (1200 / 320)) - это (вся видимая часть страницы в ширину - минимальное значения разрешения) / (значение ограничивающего контейнера / минимальное значения разрешения)
*/

$maxWidth: 1545;

@mixin responsive-value-desc($property, $maxSize, $minSize) {
  $addSize: $maxSize - $minSize;

  #{$property}: calc((#{$minSize + px}) + (#{$addSize}) * ((100vw - 767px) / (#{$maxWidth} - 767)));
}
